
{% extends 'layouts/base.html' %}

{% block content %}
<div class="container mt-4">
      <h2 class="text-center mb-4 fw-bold text-success">Proyectos</h2>

  <div class="row justify-content-center">
    {% for project in projects %}
      <div class="col-md-4 col-sm-6 mb-4">
        <div class="card shadow-sm text-center">
          <div class="card-body">
            <h5 class="card-title text-primary">{{ project.name }}</h5>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12 text-center">
        <p class="text-muted">No hay proyectos disponibles.</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
